# Node
node_modules
frontend/.next
frontend/node_modules
electron/node_modules
*.log

# Python
.venv
__pycache__
*.pyc



# Editor
.DS_Store
*.swp
.idea
.vscode
lerobot/tests/artifacts/



__pycache__/

.venv/

personal-files


